services:
  test_clickhouse:
    image: clickhouse/clickhouse-server:25.10
    ports:
      - "10123:8123"
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=default
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
  test_pg:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
